includes:
    - phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - code
        - tests
    ignoreErrors:
        # Ignore configurable properties
        - '#Static property .* is never read, only written#'
