includes:
    - vendor/syntro/silverstripe-phpstan/phpstan.neon
parameters:
    level: 8
    paths:
        - code
        - tests
    stubFiles:
        - stubs/GuzzleHttp/Psr7/Response.stub
        - stubs/GuzzleHttp/Psr7/ServerRequest.stub
        - stubs/Psr/Http/Message/MessageInterface.stub
        - stubs/Psr/Http/Message/RequestInterface.stub
        - stubs/Psr/Http/Message/ResponseInterface.stub
        - stubs/Psr/Http/Message/ServerRequestInterface.stub
        - stubs/Robbie/Psr7/AbstractHttpAdapter.stub
        - stubs/Robbie/Psr7/HttpRequestAdapter.stub
        - stubs/Robbie/Psr7/HttpResponseAdapter.stub
        - stubs/SilverStripe/Control/HTTPRequest.stub
        - stubs/SilverStripe/Control/HTTPResponse.stub
    strictRules:
        booleansInConditions: false
        disallowedConstructs: false
        uselessCast: false
    ignoreErrors:
        # Prefer dynamic calls in PHPUnit
        - '#Dynamic call to static method PHPUnit\\Framework\\#'
        - '#Dynamic call to static method SilverStripe\\Dev\\FunctionalTest#'
        - '#Dynamic call to static method SilverStripe\\Dev\\SapphireTest#'
        -
            message: "#^Parameter \\#2 \\$params \\(array\\<string\\>\\) of method IanSimpson\\\\OAuth2\\\\LogFactory\\:\\:create\\(\\) should be contravariant with parameter \\$params \\(array\\) of method SilverStripe\\\\Core\\\\Injector\\\\Factory\\:\\:create\\(\\)$#"
            count: 1
            path: code/LogFactory.php

        -
            message: "#^PHPDoc type array\\<string\\>\\|string of property IanSimpson\\\\Tests\\\\OauthServerControllerTest\\:\\:\\$fixture_file is not the same as PHPDoc type array\\|string of overridden property SilverStripe\\\\Dev\\\\SapphireTest\\:\\:\\$fixture_file\\.$#"
            count: 1
            path: tests/OauthServerControllerTest.php
    reportUnmatchedIgnoredErrors: false
